<?xml version="1.0"?>
<config>
    <sections>
        <shippinginsurance translate="label" module="itransition_shippinginsurance">
            <label>Shipping Insurance Settings</label>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>330</sort_order>
            <tab>sales</tab>
            <groups>
                <settings translate="label">
                    <expanded>1</expanded>
                    <label>General settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <enabled>
                            <frontend_type>select</frontend_type>
                            <label>Feature</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </enabled>
                    </fields>
                </settings>
                <rates translate="label">
                    <clone_fields>1</clone_fields>
                    <clone_model>itransition_shippinginsurance/setting_cloned</clone_model>
                    <label>Shipping Methods Rates</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <heading>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <label>Method</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </heading>
                        <enabled>
                            <frontend_type>select</frontend_type>
                            <frontend_model>itransition_shippinginsurance/system_config_form_field_custom</frontend_model>
                            <label>Insurance</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </enabled>
                        <type>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <frontend_model>itransition_shippinginsurance/system_config_form_field_custom</frontend_model>
                            <frontend_type>select</frontend_type>
                            <label>Type</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>3</sort_order>
                            <source_model>itransition_shippinginsurance/setting_source_type</source_model>
                        </type>
                        <fee>
                            <can_be_empty>0</can_be_empty>
                            <frontend_model>itransition_shippinginsurance/system_config_form_field_custom</frontend_model>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <label>Fee</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>4</sort_order>
                        </fee>
                    </fields>
                </rates>
            </groups>
        </shippinginsurance>
    </sections>
</config>
